@keyframes opacity {
    to { opacity: 1 }
}

.logo {
    opacity: 0;
    animation: opacity 2s 1s forwards;
}

.alumni {
    opacity: 0;
    animation: opacity 2s 1.5s forwards;
}

html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*fallback*/
    font-family: 'Titillium Web', sans-serif; 
    margin: 0;
    height: 100%; 
}

h1, h2, h3 {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    color: #515151;/*#262322;*/ 
    background-color: transparent;
    margin: 10px 0;
}

h2 {
    font-size: x-large;
    font-weight: bold;
    line-height: 1.4em;
}
  
video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
}

button {
    background: none;
    color: #2DBFC2;
    border: 1px solid #2DBFC2;
    line-height: 30px;
    border-radius: 2px;
}

img {
    max-width: 100%;
}

#about,
#speakers {
    margin: 50px auto;
}

#partners > .row {
    padding: 50px 0;
}

#about {
    background-color: white;
}

#landing {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#container {
    height: 100%;
    padding: 20px;
    position: relative;
}

#container a {
    text-decoration: underline;
}

#alumni-logo {
    width: 150px;
    display: block;
}

#photos {
    position: relative;
}

#photos img {
    opacity: 0.8;
    width: 100%;
    padding: 0;
}

#photos .row {
    max-width: 100%;
}

#connections {
    position: absolute;
    background: rgba(255,255,255,0.6);
    padding: 10px 0;
    text-align: center;
    bottom: 10px;
    right: 10px;
}

#connections img {
    width: 40px;
    padding: 0 20px;
    vertical-align: middle;
}

#speakers {
    background-color: white;
}

#speakers img {
    width: 100%;
}

#speakers .box {
    font-size: 0;
    -webkit-box-shadow: 0 14px 10px -12px #515151;
       -moz-box-shadow: 0 14px 10px -12px #515151;
	        box-shadow: 0 14px 10px -12px #515151;    
}

#speakers .details {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 10pt;
}

#speakers .details .name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    font-size: 20px;
    color: #515151;
    padding-bottom: 0px;
}

#speakers .details .company {
    margin-top: 0px;
    padding-bottom: 10px;
}

#speakers .details .introduction {
    padding: 10px;
    height: 150px;
}

.title {
    color: #515151; 
    font-size: 34px;
    font-weight: 300;
    text-align: left;
}

#partners {
    background-image: url("../images/bg-connect.png");
}

.partner {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    padding: 30px;
    opacity: 1;
}

.partner:hover 
{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

a {
    text-decoration: none;
}

.block {
    display: block; 
}

.t-center {
    text-align: center;
}

.vh-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.white {
    color: #ffffff;
}

.white-bg {
    background-color: #ffffff;
}

.blue {
    color: #2dbfc2;
}

.blue-bg {
    background-color: #2dbfc2;
}

.black {
    color: #000000; 
}

.black-bg {
    background-color: #000000;
}

.f-0 {
    font-size: 0;
}

.f-12 {
    font-size: 12px; 
}

.f-14 {
    font-size: 14px; 
}

.f-18 {
    font-size: 18px; 
}

.f-20 {
    font-size: 20px; 
}

.f-22 {
    font-size: 22px; 
}
