html, body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*fallback*/
    font-family: 'Titillium Web', sans-serif; 
    margin: 0;
    height: 100%; 
}

h1, h2, h3 {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    color: #515151;/*#262322;*/ 
    background-color: transparent;
}

h2 {
    margin: 0;
    font-size: x-large;
    font-weight: bold;
    line-height: 1.4em;
}
  
video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 100%;
}

#about {
    /*background-image:url("../images/bg-connect.png");*/
    background-color: white;
    background-repeat: repeat-y repeat-x;
    margin: 80px;
}

#about h2 {
    width: 700px;
    margin: auto;
}

#landing {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#container {
    height: 100%;
    padding: 20px;
    position: relative;
}

#container a {
    text-decoration: underline;
}

#alumni-logo {
    width: 150px;
    display: block;
}

#photos {
    /* Prevent vertical gaps */
    /*line-height: 0;

    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           0px;  */
}

#photos img {
    /* Just in case there are inline attributes */
  /*  width: 100% !important;
    height: auto !important;*/
    opacity: 0.8;
    width: 100%;
    padding: 0;
}

#speakers {
    background-color: white;
    padding: 0 140px;
    /*background-image:url("../images/bg-connect.png");*/
}

#speakers img {
    width: 100%;
}

#speakers .top {
    font-size: 0;
    padding: 10px;
}

#speakers .details {
    background-color: #CCCCCC;
    text-align: center;
    font-size: 10pt;
}

#speakers .details .name {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 15pt;
    color: #515151;
}

#speakers .details .company {
    margin-top: 0px;
}

#speakers .details .introduction {
    padding: 10px;
    height: 150px;
}

.title {
    color: #515151; 
    font-size: 34px;
    font-weight: 300;
    line-height: 58px;
    margin: 58px 0 0;
    text-align: left;
}

a {
    text-decoration: none;
}

.block {
    display: block; 
}

.t-center {
    text-align: center;
}

.vh-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.white {
    color: #ffffff;
}

.white-bg {
    background-color: #ffffff;
}

.blue {
    color: #2dbfc2;
}

.blue-bg {
    background-color: #2dbfc2;
}

.black {
    color: #000000; 
}

.black-bg {
    background-color: #000000;
}

.f-12 {
    font-size: 12px; 
}

.f-14 {
    font-size: 14px; 
}

.f-18 {
    font-size: 18px; 
}

.f-20 {
    font-size: 20px; 
}

.f-22 {
    font-size: 22px; 
}
