$padding: 20px;

html, body, h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*fallback*/
    font-family: 'Titillium Web', sans-serif;
}

html,
body {
	margin: 0;
	height: 100%;
	z-index: 0;

}

video {
	position: absolute;
	min-height: 100%;
    min-width: 100%;
    height: auto;
    width: 100%;
    z-index: -1;
}

nav {
	@extend .blue-bg;
	font-size: 18px;
	padding-bottom: $padding/2;
	padding-top: $padding/2;
	position: fixed;
	transition: all, 500ms, ease;
	text-align: center;
	width: 100%;
	z-index: 1;

	a {
		@extend .white;
		padding-left: $padding;
		padding-right: $padding;

		&:hover {
			position: relative;

			&:after {
				background-color: white;
				bottom: -1px;
				content: '';
				height: 2px;
				left: 0;
				position: absolute;
				width: 100%;
			}
		}
	}



	&.bottom {
		background-color: transparent;
		bottom: 0;
		padding-bottom: $padding;
		padding-top: $padding*4;
		position: absolute;

		&:hover {
			@extend .blue-bg;
		}
	}
}

#landing {
	@extend .black-bg;
	height: 100%;
	overflow: hidden;
	position: relative;
	z-index: -2;
}

#container {
	padding: $padding;
}

#alumni-logo {
	width: 150px;
	display: block;
}

#about {
	@extend .white-bg;
}

//GERAL//
$colors: ('white': #ffffff, 'blue': #2dbfc2, 'black': #000000);
$f-sizes: (12, 14, 18, 20, 22);

a {
	text-decoration: none;
}

.block {
	display: block;
}

.t-center {
	text-align: center;
}

.vh-center {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@each $color, $hex in $colors {
	.#{$color} {
		color: $hex;
	}
	.#{$color}-bg {
		background-color: $hex;
	}
}

@each $size in $f-sizes {
	.f-#{$size} {
		font-size: $size + px;
	}
}