
html {
    height: 100%;
    width: 100%;
}

html, body, h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*fallback*/
    font-family: 'Titillium Web', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #515050;
    background-color: #ffffff;
    background-image: url(images/river_white.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

p {
    color: black;
    text-transform: uppercase;
    line-height: 2.2;
}

p strong {
    color: white;
    font-size: 1.1rem;
}

section .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.section-title{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.fullWidth {
   max-width: 100%;
}

/****************landing****************/

header {
    height: 100%;
    text-align: center;
}
header h1 {
    height: 100%;
    text-indent: -119988px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
}

header .header {
    vertical-align: middle;
    display: inline-block;
    margin-left: -4px;
    padding: 10px;
    width: 100%;
}
  
header #main-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

header .info {
    display: block;
    margin: 0 auto;
    width: 80%;
    opacity: 1;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;  
}


header .date {
    text-align: center;
    color: black;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-weight: 400;
}

.subscribe,
#registration.typeform-share.button {
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.subscribe form {
    position: absolute;
    top: 0;
    width: 100%;
}

#btn-subscribe,
#registration.typeform-share.button {
    display: block;
    background-color: #33BEC2;
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    padding: 0 1.5rem;
    margin: 1.5rem auto;
    color: #fff;
    line-height: 2.5;
    text-align: center;
    overflow: hidden;
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    background-image: none;
    border: none;
    float: none;
    font-size: 1.3rem;
}

#btn-subscribe {
    width: 100%;
}

#btn-subscribe.noshow{
    opacity: 0;
    padding: 0;
    visibility: hidden;
}

input#mce-EMAIL {
    visibility: hidden;
    height: 40px;
    width: 0%;
    font-size: 1rem;
    transform: translate(0%,0%);
    -webkit-transform: translate(0%, 0%);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out; 
}

input#mce-EMAIL.subscribe {
    visibility: visible;
    width: 100%;
    padding: 0 20px;
}

#mc-embedded-subscribe {
    display: block;
    margin: 0 auto;
    opacity: 0;
    background-color: #33BEC2;
    color: #fff;
    border: 0;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    -webkit-appearence: none;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

#mc-embedded-subscribe.subscribe {
    transform: translate(0%,0%);
    -webkit-transform: translate(0%,0%);
    opacity: 1;
}

#mce-responses {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    text-align: center;
    color: #fff;
}

#mce-responses a, #mce-responses a:visited, #mce-responses a:hover, #mce-responses a:active{
    color: #fff;
}

header form input#mce-EMAIL:not(.subscribe),
header form input#mc-embedded-subscribe:not(.subscribe){
    display: none;
}

header .by {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: left;
    z-index: 1;
    color: black;
}

header .by img{
    width: 200px;
}

/****************top-bar****************/

.top-bar {
    display: none;
}

/****************about****************/

#about{
    background-color: rgba(51, 190, 194, 0.65);
    margin: -5rem 0 0;
    transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -webkit-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -moz-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -o-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -ms-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
}

#about-container {
    color: #fff;
    transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -webkit-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -moz-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -o-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -ms-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    margin: 0 auto;
    /*width: 45%;*/
}

#about-container p {
    margin: 0 auto;
}

/****************speakers****************/

#speakers {
    margin-bottom: 7rem;
    text-align: center;
}

#speakers .columns {
    padding-top: 2rem;
}

#speakers .speaker-name,
#speakers .speaker-title,
#speakers .speak-title {
    text-align: center;
}

#speakers .speaker-name {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #2dbfc2;
}

#speakers .speaker-title {
    font-size: 0.75rem;
    color: white;
}

#speakers .speaker-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

#speakers .speaker-social a i {
    color: white;
    font-size: 1.5rem;
}

#speakers .speaker-box:hover .speak-title {
  visibility: visible;
  opacity: 1;
}

#speakers .speak-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 12px;
    background: rgba(51, 190 , 190, 0.5);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    color: #fff;
    visibility: hidden;
    opacity: 0;
}

#speakers .speak-title p {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

#speakers .speaker-photo {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
    border: 12px solid #efefef;
    
    vertical-align: middle;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    overflow: hidden;
}

/****************location****************/

#venue {
    background-color: rgba(255, 255, 255, 0.65);
    margin: -5rem 0 0;
    transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -webkit-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -moz-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -o-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -ms-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
}

.venue-container{
    padding: 1.5rem 0;
    color: white;
}

.venue-container .venue {
    margin-left: auto;
    margin-right: auto;
    transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -webkit-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -moz-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -o-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -ms-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
}

#venue .venue-text {
    font-size: 0.85rem;
    text-align: center;
    margin: 0 auto;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-canvas {
    display: block;
    max-width: 100%;
    height: 400px;
}

#map-canvas img {
    max-width : none;
}

/*
#venue .venue-access-container{
    background-color: #2DBFC2;
}

#venue .venue-map {
    margin: 2rem 0;
    top: -170px;
}



*/

/****************registration****************/

#registration {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#registration .registration-container {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

#registration .registration-container .fi-lock {
    font-size: 3.5rem;
}

/****************sponsors****************/

.sponsors{
    background-color: rgba(255, 255, 255, 0.65); 
    margin-top: 20px;
     margin:  1rem 0 0;
    transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -webkit-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -moz-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -o-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -ms-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
}

.sponsors .sponsors-container {
    transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -webkit-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -moz-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -o-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -ms-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    margin: 0 auto;
} 

.sponsors .sponsor-image {
    padding: 0 2rem;
    max-width: 100%;
    max-height: 50px;
    vertical-align: inherit;
}

#sponsors .sponsors-row {
    padding: 1rem 4rem 0 4rem;
    text-align: center;
}

.sponsors .sponsors-container .diamond {
    height: 170px;
    line-height: 170px;
}

.sponsors .sponsors-container .silver {
    height: 100px;
    line-height: 100px;
}

.sponsors .sponsors-container .institutional {
    height: 180px;
    line-height: 180px;
}

.sponsors .sponsors-container .institutional .sponsor-image {
    max-height: 70px;
}


/****************behind****************/
#behind {
    text-align: center;
}

#behind .container {
    padding-bottom: 2.5rem;
}

#behind a i {
    margin: 0 1rem;
    font-size: 3rem;
    color: white;
}

#behind .institutional {
    margin: 0 auto;
}

#behind .institutional .image {
    max-width: 100%;
    max-height: 3rem;
}

/****************animations****************/
/*@-moz-keyframes dropLogo {
    0% {
        -moz-transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@-webkit-keyframes dropLogo {
    0% {
        -webkit-transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@keyframes dropLogo {
    0% {
        transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        transform: translate(0%,-50%);
        opacity: 1;
    }
}*/

/*@-moz-keyframes upInfo {
    0% {
        -moz-transform: translate(0%, 0%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0%, 0%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@-webkit-keyframes upInfo {
    0% {
        -webkit-transform: translate(0%,0%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0%,0%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@keyframes upInfo {
    0% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    50% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%,-50%);
        opacity: 1;
    }
}*/
