
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: black;
    background-color: #ffffff;
    overflow-x: hidden;
}

.section:not(:first-child) {
    border-bottom: 1px solid #BDBDBD;
    padding: 3rem;
}

.section p {
    line-height: 2.2;
}

/*section:nth-child(2n) {
    background-color: white;
}

section:nth-child(2n+1) {
    background-color: #2bbfc1;
}*/

section#landing{
    min-height: 100%;
    height: 100vh;
    background-image: url(images/porto-river.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
#landing-overlay {
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

section#about{
    background-color: #2DBFC2;
    margin: -120px -4px 0px;
    transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -webkit-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -moz-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -o-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -ms-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
}

#about-container{
    padding: 100px 0;
    color: #fff;
    transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -webkit-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -moz-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -o-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -ms-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
}

.section-title{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2DBFC2;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#speakers-plan .columns {
    margin: 2rem 0;
}

#speakers-plan .columns:not(:first-of-type){
    height: 500px;
}

#speakers-plan .speaker-name,
#speakers-plan .speaker-title,
#speakers-plan .speak-title {
    text-align: center;
}

#speakers-plan .speaker-name {
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #2dbfc2;
}

#speakers-plan .speaker-title {
    font-size: 0.75rem;
}

#speakers-plan .speaker-box {
  position: relative;
}

#speakers-plan .speaker-box:hover .speak-title {
  visibility: visible;
  opacity: 1;
}

#speakers-plan .speak-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 12px;
    background: rgba(51, 190 , 190, 0.5);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

    color: #fff;
    visibility: hidden;
    opacity: 0;
}

#speakers-plan .speak-title p{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#speakers-plan .speaker-photo {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    
	border: 12px solid #efefef;
    
	vertical-align: middle;
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	overflow: hidden;
}

section#venue {
    padding: 3rem 0;
    margin-top: 50px;
}

.venue-container{
    background-color: #2DBFC2;
    margin: -120px -4px 0px;
    transform: rotate(2deg) scale(1) skew(2deg) translate(0px);
    -webkit-transform: rotate(2deg) scale(1) skew(2deg) translate(0px);
    -moz-transform: rotate(2deg) scale(1) skew(2deg) translate(0px);
    -o-transform: rotate(2deg) scale(1) skew(2deg) translate(0px);
    -ms-transform: rotate(2deg) scale(1) skew(2deg) translate(0px);
    height: 500px;
}

.venue-container div{
    padding: 50px 0;
    color: #fff;
    transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
    -webkit-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
    -moz-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
    -o-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
    -ms-transform: rotate(358deg) scale(1) skew(-2deg) translate(0px);
}

#venue .venue-location-title{
    margin-top: -100px;
}

#venue .venue-text {
    font-size: 0.85rem;
    text-align: center;
    margin: 1rem 0;
}

#venue .venue-access-container{
    background-color: #2DBFC2;
}

#venue .venue-map {
    margin: 2rem 0;
    top: -170px;
}

.google-maps {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#map-canvas img {
    max-width : none;
}

#map-canvas {
    display: block;
    max-width: 100%;
    height: 400px;
}

.fullWidth {
   max-width: 100%;
}

#main-logo {
    display: block;
    margin: 0 auto;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    width: 40%;
    -moz-animation-name: dropLogo;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 1s;

    -webkit-animation-name: dropLogo;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;

    animation-name: dropLogo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}


.info {
    display: block;
    margin: 0 auto;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    width: 80%;
    opacity: 1;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 10px;
    font-weight: 700;
    -moz-animation-name: upInfo;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 2s;

    -webkit-animation-name: upInfo;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 2s;

    animation-name: upInfo;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

.main-info-container {
    position: absolute;
    top: 30%;
    /*left:50%;*/
    width: 100%;
}

.info.date {
    text-align: center;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 400;
}

input#mce-EMAIL {
    visibility: hidden;
    height: 40px;
    width: 0%;
    font-size: 1rem;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -webkit-transition: all 0.6s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.6s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    position: absolute;
    bottom: 55px;
    display: inline-block;
}

input#mce-EMAIL.subscribe {
    visibility: visible;
    width: 30%;
    padding: 0 20px;
}

#btn-subscribe {
    display: block;
    background-color: #33BEC2;
    visibility: visible;
    cursor: pointer;
    opacity: 1;
    width: 200px;
    height: 40px;
    padding: 0 20px;
    margin: 20px auto;
    color: #fff;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -webkit-transition: all 0.4s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.4s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#btn-subscribe.noshow{
    opacity: 0;
    padding: 0;
    visibility: hidden;
}

#mc-embedded-subscribe {
    display: block;
    margin: 0 auto;
    opacity: 0;
    background-color: #33BEC2;
    color: #fff;
    border: 0;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    -webkit-appearence: none;
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    -webkit-transition: all 0.6s ease-out;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: all 0.6s ease-out;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
}

#mc-embedded-subscribe.subscribe {
    transform: translate(0%,-20%);
    -webkit-transform: translate(0%,-20%);
    opacity: 1;
}

#mce-responses {
    transform: translate(0%, 0%);
    -webkit-transform: translate(0%, 0%);
    text-align: center;
    color: #fff;
}

#mce-responses a, #mce-responses a:visited, #mce-responses a:hover, #mce-responses a:active{
    color: #fff;
}

section#behind{
    background-color: #2DBFC2;
    color: #fff;
}

#contacts h1{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

#contacts p{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
}

#contacts a, #contacts a:hover, #contacts a:active, #contacts a:visited{
    color: #fff;
}

#contacts div{
    text-align: center;
}

#contacts div a{
    margin: 0 10px;
}

#sponsors{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 10px;
}

#about-alumni{
    margin: 0 0 40px 0;
}

input.sponsor-image {
  max-height: 80px;
  max-width: 100%;
}

.white{
    color: #fff;
}

/** ANIMATIONS **/
@-moz-keyframes dropLogo {
    0% {
        -moz-transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@-webkit-keyframes dropLogo {
    0% {
        -webkit-transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@keyframes dropLogo {
    0% {
        transform: translate(0%,-200%);
        opacity: 0;
    }
    100% {
        transform: translate(0%,-50%);
        opacity: 1;
    }
}

@-moz-keyframes upInfo {
    0% {
        -moz-transform: translate(0%, 0%);
        opacity: 0;
    }
    50% {
        -moz-transform: translate(0%, 0%);
        opacity: 0;
    }
    100% {
        -moz-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@-webkit-keyframes upInfo {
    0% {
        -webkit-transform: translate(0%,0%);
        opacity: 0;
    }
    50% {
        -webkit-transform: translate(0%,0%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0%,-50%);
        opacity: 1;
    }
}
@keyframes upInfo {
    0% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    50% {
        transform: translate(0%, 0%);
        opacity: 0;
    }
    100% {
        transform: translate(0%,-50%);
        opacity: 1;
    }
}


/** media-xs */
@media screen and (max-width:767px) {
    .main-info-container {
        top: 10%;
    }
    #main-logo {
        width: 80%;
    }
    input#mce-EMAIL.subscribe {
        visibility: visible;
        width: 60%;
        padding: 0 20px;
    }
    .venue-container {
      height: 750px;
      padding: 0 20px;
    }
}

