
html {
    height: 100%;
    width: 100%;
}

html, body, h1, h2, h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; /*fallback*/
    font-family: 'Titillium Web', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5em;
    color: #515050;
    background-color: #ffffff;
    background-image: url(images/river_white.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

p {
    color: black;
    text-transform: uppercase;
    line-height: 2.2;
}

p.normal {
    text-transform: initial;
}

span.name {
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
    display: inherit;
    font-size: 1.3rem;
}

small {
    font-size: 0.8rem;
    display: inherit;
    padding-top: 10px;
}

p strong {
    color: white;
    font-size: 1.1rem;
}

section .container {
    padding-top: 6rem;
    text-align: center;
}

.row-title {
    margin-bottom: 1.5rem;
    width: 80%;
}

.section-title {
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-top: 0;
}

.title-split {
    height: 1px;
    padding: 0 !important;
    vertical-align: middle;
    background: #2dbfc2;
    margin-top: 20px;
}

.title-split + .section-title {
    padding-top: 0 !important;
    vertical-align: middle;
    margin: 0;
    padding: 0 10px;
}

.bar {
    margin: -5rem -3px 0;
    transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -webkit-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -moz-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -o-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
    -ms-transform: rotate(355deg) scale(1) skew(-5deg) translate(0px);
}

.bar .bar-container {
    transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -webkit-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -moz-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -o-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    -ms-transform: rotate(5deg) scale(1) skew(5deg) translate(0px);
    margin: 0 auto;
    padding-bottom: 6rem;
}

.bar.blue {
    background-color: rgba(51, 190, 194, 0.65);
}

.bar.blue .bar-container {
    color: #fff;
}

.fullWidth {
   max-width: 100%;
}

.highlight {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 0 0.5rem;
}

.custom-small-5-cols {
    width: 19%; 
    display: inline-block;
    vertical-align: middle;
}

/****************landing****************/

header {
    height: 100%;
    text-align: center;
    position: relative;
}

header:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 1600px solid transparent;
    border-bottom: 100px solid rgba(51, 190, 194, 0.65);
}

header h1 {
    height: 100%;
    text-indent: -119988px;
    vertical-align: middle;
    display: inline-block;
    width: 0;
}

header .header {
    vertical-align: middle;
    display: inline-block;
    margin-left: -4px;
    padding: 10px;
    width: 100%;
}
  
header #main-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

header .info {
    display: block;
    margin: 0 auto;
    width: 80%;
    opacity: 1;
    color: #515151;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;  
    padding-top: 1rem;
}

header .date {
    color: black;
    text-decoration: underline;
    text-align: center;
    display: block;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    font-weight: bold;
}

header .by {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    text-align: left;
    z-index: 1;
    color: black;
}

header .by img{
    width: 200px;
}
