/*:root {
--main-color: #f7931d;
--text-color: #4c4c4c;
--white: #fffff;
}*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: white;
  color: #4c4c4c;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
}

a,
a:visited {
  text-decoration: none;
  color: #4c4c4c;
}

h2 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.button, .fancy, h1, h2, h3 {
  font-family: 'Josefin Slab', cursive;
}

.button, h1, h2, h3 {
  font-weight: bold;
}

.gallery-section,
.speakers-section,
.sponsors-section,
.registration-section {
  margin-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/** header **/
header {
  padding: 50px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/** Navigation bar **/
nav ul {
  list-style: none;
}

nav ul li {
  padding-right: 5px;
  padding-left: 10px;
  border-right: 5px solid white;
  border-bottom: 1px solid white;
  transition: 0.3s border-color ease-in;
  display: inline-block;
  margin-left: 10px;
  text-transform: uppercase;
}

nav ul li:hover {
  border-color: #f7931d;
}

/** video section **/
.video-section {
  position: relative;
  max-width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.video-section video {
  min-height: 100%;
  min-width: 100%;
  max-width: 90%;
  filter: sepia(0.4);
}

.video-subtitle {
  position: absolute;
  bottom: 15%;
  left: 10%;
  transform: translateY(-50%);
  color: white;
}

.video-subtitle small {
  text-shadow: 1px 1px 5px #000;
  font-size: 1.2em;
}

.video-subtitle .typewriter {
  font-size: 5em;
  text-shadow: 1px 1px 5px #000;
  margin: 0;
}

.typewriter {
  overflow: hidden;
  border-right: 0 solid #f7931d;
  white-space: nowrap;
  animation:
    typing 7s steps(30, end),
    blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
    border-width: 1px;
  }
  70% { width: 100%; }
  to { border-width: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f7931d; }
}

.commit-message {
  text-align: center;
  line-height: 2.1;
  margin-top: -30px;
  background: #f7931d;
  padding: 40px 50px;
  width: 65%;
  max-width: 1000px;
  color: white;
  margin-left: 10px;
  transform:  rotate(2deg) scale(1) skew(0) translate(0px);
}

.commit-message p {
  text-rendering: optimizeLegibility;
  transform: rotate(-2deg) scale(1) skew(0) translate(0px);
}

/** Gallery section **/
.gallery-section {
  display: flex;
  overflow: scroll;
  position: relative;
}

.gallery-section > .image {
  display: inline-block;
}

.gallery-section > .image > img {
  display: block;
  height: 220px;
  filter: grayscale(0.6) sepia(0.4);
}

.gallery-section > .image:hover > img {
  filter: sepia(0.4) contrast(1.2);
}

.gallery-section > .prev-edition {
  background: #4c4c4c;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 100px;
  text-decoration: underline;
  letter-spacing: 2px;
  line-height: 25px;
}

/** scroll animation **/
.scroll-container {
  position: relative;
  width: 150px;
  height: 3px;
  margin: 0 auto;
}

.scroll {
  width: 100%;
  height: 100%;
  background-color: #f7931d;
  position: absolute;
  top: -20px;
  transform: translateX(-50%);
  z-index: 2;
  left: 50%;
  padding: 0 2px;
}

.scroll::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f7931d;
  display: block;
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  animation: move-right 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move-right {
  from { left: 0; }
  to { left: 100%; }
}

/** Speakers section **/
.speakers-section {
  width: 90%;
}

.speakers-container{
  display: flex;
  position: relative;
}

.speakers-table {
  border-bottom: 1px solid #f7931d;
  border-right: 5px solid #f7931d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.speakers-table div {
  padding-right: 20px;
  text-align: right;
  white-space: nowrap;
}

.speaker {
  padding: 20px 10px;
  display: inline-block;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.speaker:hover::before,
.speaker:hover::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
  border: 0 solid #f7931d;
}

.speaker:hover::before {
  z-index: 2;
  animation: border-inside 3s;
}

.speaker:hover::after {
  animation: border-outside 3s;
}

@keyframes border-inside {
  from { border-width: 2px; padding: 0; }
  80% { border-width: 2px; padding: 45px; }
  to { border-color: transparent; padding: 45px; }
}

@keyframes border-outside {
  from { border-width: 2px; padding: 0; }
  80% { border-width: 2px; padding: 70px; }
  to { border-color: transparent; padding: 70px; }
}

.speaker img {
  height: 200px;
  filter: sepia(0.4);
}

.speaker img + legend {
  padding-top: 10px;
  padding-left: 0;
}

.speaker-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.95);
  bottom: 0;
  display: none;
}

.speaker-overlay.active {
  display: block;
}

#close {
  position: absolute;
  right: 10%;
  font-size: 2.5em;
  cursor: pointer;
}

/** Registration section **/
.registration-section {
  text-align: center;
  line-height: 2.1;
  background: #4c4c4c;
  padding: 40px 50px;
  width: 95%;
  color: white;
  transform:  rotate(-2deg) scale(1) skew(0) translate(0px);
}

.registration-section p {
  text-rendering: optimizeLegibility;
  transform: rotate(2deg) scale(1) skew(0) translate(0px);
}

/** Sponsors section **/
.sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.sponsors img {
  height: auto;
  padding: 0 40px;
}

.diamond img {
  max-height: 200px;
  max-width: 300px;
}

.gold img {
  max-height: 100px;
  max-width: 200px;
}

.silver img {
  max-height: 70px;
  max-width: 160px;
}

/** footer **/
footer {
  text-align: center;
  padding: 40px;
  background: #4c4c4c;
  color: white;
}
